// Breakpoints
$breakpoints: (
    'mobile': (min-width: 375px),
    'tablet': (min-width: 768px),
    'desktop': (min-width: 1024px),
) !global;


$color-primary: #FFE273;
$color-primary__accent: #C8B25F;

$color-secondary: #545E6B;
$color-secondary__accent: #788699;

$color-background: #fff;
$color-background__accent: #F2F2F2;
