input[type=text], input[type=email] {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: $color-input__newsletter;
    border: none;
    outline-color: $color-secondary__accent;
    border-radius: 3px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: $color-secondary;
}

.group {
    margin-bottom: 20px;
    
    input[type=text], input[type=email] {
        margin-bottom: 0;
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color-secondary;
    letter-spacing: 1px;
}
::-moz-placeholder { /* Firefox 19+ */
    color: $color-secondary;
    letter-spacing: 1px;
}
:-ms-input-placeholder { /* IE 10+ */
    color: $color-secondary;
    letter-spacing: 1px;
}
:-moz-placeholder { /* Firefox 18- */
    color: $color-secondary;
    letter-spacing: 1px;
}
