.button {
    background-color: $color-secondary;
    height: 50px;
    padding: 0 50px;
    border-radius: 3px;
    font-family: brandon-grotesque, sans-serif;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.7px;
    color: $color-background !important;


    &.small {
        height: 40px;
    }

    @include breakpoint('desktop') {
        transition: transform 50ms ease-out;

        &:hover {
            transform: translateY(-3px);
        }
    }
}


a.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

button.button {
    border: none;
}
