/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */

.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
}

.hamburger:hover {
  opacity: 0.7;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #545E6B;
  border-radius: 4px;
  position: absolute;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}

.hamburger-inner::before {
  top: -10px;
}

.hamburger-inner::after {
  bottom: -10px;
}

/*
   * Squeeze
   */

.hamburger--squeeze .hamburger-inner {
  -webkit-transition-duration: 0.075s;
          transition-duration: 0.075s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze .hamburger-inner::before {
  -webkit-transition: top 0.075s 0.12s ease, opacity 0.075s ease;
  transition: top 0.075s 0.12s ease, opacity 0.075s ease;
}

.hamburger--squeeze .hamburger-inner::after {
  -webkit-transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: bottom 0.075s 0.12s ease, transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--squeeze.is-active .hamburger-inner {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--squeeze.is-active .hamburger-inner::before {
  top: 0;
  opacity: 0;
  -webkit-transition: top 0.075s ease, opacity 0.075s 0.12s ease;
  transition: top 0.075s ease, opacity 0.075s 0.12s ease;
}

.hamburger--squeeze.is-active .hamburger-inner::after {
  bottom: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: bottom 0.075s ease, transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media (min-width: 768px) {
  .hide-tablet-up {
    display: none;
  }
}

@media (min-width: 1024px) {
  .hide-desktop {
    display: none;
  }
}

@font-face {
  src: url(/fonts/Avenir-Roman.ttf?7f9734301cda9aacab684b863c6d0983) format("ttf");
  font-family: 'Avenir';
  font-weight: normal;
}

@font-face {
  src: url(/fonts/Avenir-Black.ttf?aa91c02d8430510b523d45a852f72593) format("ttf");
  font-family: 'Avenir';
  font-weight: bold;
}

body {
  font-family: 'Avenir', sans-serif;
  color: #788699;
}

h1,
h2 {
  font-family: brandon-grotesque, sans-serif;
  font-style: normal;
  font-weight: 500;
  color: #545E6B;
}

h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

h2 {
  font-size: 36px;
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  h2 {
    text-align: center;
  }
}

h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #545E6B;
}

p {
  font-size: 20px;
  line-height: 37px;
}

.subheader {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .subheader {
    text-align: center;
    margin-bottom: 70px;
  }
}

@media (min-width: 1024px) {
  .subheader {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #788699;
}

ul {
  padding-left: 15px;
}

ul li {
  margin-bottom: 30px;
  position: relative;
  z-index: 1;
}

ul li:last-of-type {
  margin-bottom: 0;
}

ul li:before {
  content: '';
  position: absolute;
  left: -15px;
  width: 4px;
  height: 30px;
  background-color: #545E6B;
}

ul li p {
  font-size: 18px;
  line-height: 30px;
}

@media (min-width: 1024px) {
  ul li:before {
    width: 6px;
  }
}

.container {
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

::-moz-selection {
  background-color: #788699;
  color: #fff;
}

::selection {
  background-color: #788699;
  color: #fff;
}

header {
  padding: 5px 0;
  position: fixed;
  width: 100%;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 135ms ease-out;
  transition: all 135ms ease-out;
}

header.fixed {
  background-color: white;
  border-color: #545E6B;
  z-index: 10;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .nav--toggle {
  padding: 0;
  position: relative;
  z-index: 1000;
  outline: none;
}

header nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 135ms ease-out;
  transition: opacity 135ms ease-out;
}

header nav.open {
  opacity: 1;
  pointer-events: all;
}

header nav.open a {
  opacity: 1;
  pointer-events: all;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

header nav a {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 30px;
  opacity: 0;
  -webkit-transform: translateY(15px);
          transform: translateY(15px);
  pointer-events: none;
  -webkit-transition: all 40ms ease-out;
  transition: all 40ms ease-out;
}

header nav a:nth-child(1) {
  -webkit-transition-delay: 175ms;
          transition-delay: 175ms;
}

header nav a:nth-child(2) {
  -webkit-transition-delay: 215ms;
          transition-delay: 215ms;
}

header nav a:nth-child(3) {
  -webkit-transition-delay: 255ms;
          transition-delay: 255ms;
}

header nav a:nth-child(4) {
  -webkit-transition-delay: 295ms;
          transition-delay: 295ms;
}

header nav a:nth-child(5) {
  -webkit-transition-delay: 345ms;
          transition-delay: 345ms;
}

header nav a.active {
  position: relative;
}

header nav a.active:after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 12px;
  height: 4px;
  border-radius: 2px;
  background-color: #545E6B;
}

@media (min-width: 768px) {
  header .container {
    max-width: none;
    padding: 0 15px;
  }
}

@media (min-width: 1024px) {
  header {
    padding: 15px 0;
  }

  header .container {
    max-width: 960px;
    padding: none;
  }

  header.is-index nav a {
    color: #fff;
  }

  header.is-index nav a:after {
    background-color: #fff;
  }

  header.is-index.fixed nav a {
    color: #545E6B;
  }

  header nav {
    position: static;
    opacity: 1;
    pointer-events: all;
    height: auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: transparent;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  header nav a {
    margin-bottom: 0;
    opacity: 1;
    pointer-events: all;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition-delay: 0ms !important;
            transition-delay: 0ms !important;
    font-size: 14px;
    color: #545E6B;
    margin-left: 40px;
    position: relative;
  }

  header nav a.button:after {
    display: none;
  }

  header nav a.active:after {
    -webkit-transition: width 50ms ease-out;
    transition: width 50ms ease-out;
  }

  header nav a.active:hover:after {
    width: 40px;
  }

  header nav a:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 40px;
    height: 4px;
    border-radius: 2px;
    background-color: #545E6B;
    -webkit-transform: translateX(-50%) scaleX(0);
            transform: translateX(-50%) scaleX(0);
    -webkit-transition: -webkit-transform 50ms ease-out;
    transition: -webkit-transform 50ms ease-out;
    transition: transform 50ms ease-out;
    transition: transform 50ms ease-out, -webkit-transform 50ms ease-out;
  }

  header nav a:hover:after {
    -webkit-transform: translateX(-50%) scaleX(1);
            transform: translateX(-50%) scaleX(1);
  }
}

.intro {
  background-color: #FFE273;
  background-image: url(/images/pattern.png?0c7b104c6c3146f5dc242238a19d789e);
  height: 100vh;
  padding-top: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro p {
  color: #C8B25F;
  font-size: 24px;
  margin-bottom: 40px;
}

.intro .snippet {
  display: none;
}

@media (min-width: 768px) {
  .intro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .intro .snippet {
    display: block;
    margin-top: 100px;
  }

  .intro .snippet img {
    max-width: 100%;
  }
}

@media (min-width: 1024px) {
  .intro .container {
    max-width: 960px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .intro .copy {
    max-width: 50%;
  }

  .intro .snippet {
    max-width: 40%;
  }
}

.problem {
  padding: 50px 0;
}

@media (min-width: 1024px) {
  .problem {
    padding: 70px 0;
  }

  .problem ul {
    max-width: 500px;
    margin: 0 auto;
  }
}

.newsletter {
  background-color: #F2F2F2;
  padding: 25px 0;
}

.newsletter p {
  margin-bottom: 30px;
}

.newsletter form {
  position: relative;
}

.newsletter .group {
  position: relative;
}

.newsletter .error {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 11px;
  background-color: #545E6B;
  color: #fff;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 3px;
  padding: 3px;
}

.newsletter .server-error {
  top: calc(100% + 5px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  background: none;
  color: #e74c3c;
}

@media (min-width: 1024px) {
  .newsletter {
    padding: 40px 0;
  }

  .newsletter p {
    text-align: center;
  }

  .newsletter form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .newsletter form .group {
    width: 100%;
    max-width: 285px;
    margin-right: 15px;
    margin-bottom: 0;
  }

  .newsletter form .group.has-error input {
    border: 2px solid #e74c3c;
  }

  .newsletter form .error {
    top: calc(100% + 10px);
    left: 15px;
    padding: 0;
    background: none;
    font-size: 14px;
    color: #e74c3c;
  }

  .newsletter form .server-error {
    top: calc(100% + 10px);
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

.solution {
  padding: 50px 0;
}

.solution ul {
  margin-bottom: 30px;
}

.solution ul li:before {
  top: -6px;
}

@media (min-width: 768px) {
  .solution ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0;
  }

  .solution ul li {
    width: calc(50% - 15px);
    margin-bottom: 50px;
  }

  .solution .demo {
    text-align: center;
  }
}

@media (min-width: 1024px) {
  .solution {
    padding: 70px 0;
  }

  .solution ul li {
    width: calc(33.33% - 20px);
  }
}

.get-started {
  background-color: #F2F2F2;
  padding: 25px;
}

.get-started p {
  margin: 0 auto;
}

@media (min-width: 1024px) {
  .get-started {
    padding: 40px 0;
  }
}

.license {
  padding: 50px 0;
  background-color: #FFE273;
  background-image: url(/images/pattern.png?0c7b104c6c3146f5dc242238a19d789e);
}

.license .copy > div:first-of-type {
  margin-bottom: 30px;
}

.license .copy span {
  font-weight: bold;
}

.license p {
  color: #C8B25F;
}

@media (min-width: 1024px) {
  .license {
    padding: 70px;
  }

  .license h2 {
    margin-bottom: 70px;
  }

  .license .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .license .copy {
    max-width: 50%;
  }

  .license .buy {
    max-width: 40%;
    width: 100%;
  }
}

.button {
  background-color: #545E6B;
  height: 50px;
  padding: 0 50px;
  border-radius: 3px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff !important;
}

.button.small {
  height: 40px;
}

@media (min-width: 1024px) {
  .button {
    -webkit-transition: -webkit-transform 50ms ease-out;
    transition: -webkit-transform 50ms ease-out;
    transition: transform 50ms ease-out;
    transition: transform 50ms ease-out, -webkit-transform 50ms ease-out;
  }

  .button:hover {
    -webkit-transform: translateY(-3px);
            transform: translateY(-3px);
  }
}

a.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button.button {
  border: none;
  cursor: pointer;
  position: relative;
}

button.button:disabled {
  background-color: #788699;
}

button.button:disabled:hover {
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

button.button .loader,
button.button .completed,
button.button .error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

button.button .loader {
  background-color: #788699;
}

button.button .circle {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.2);
  border-top-color: #FFF;
  -webkit-animation: spin 1s infinite linear;
          animation: spin 1s infinite linear;
}

button.button .completed {
  background-color: #2ecc71;
}

button.button .error {
  background-color: #e74c3c;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

input[type=text],
input[type=email] {
  width: 100%;
  height: 50px;
  padding: 0 15px;
  margin-bottom: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #E3E3E3;
  border: none;
  outline-color: #788699;
  border-radius: 3px;
  font-family: brandon-grotesque, sans-serif;
  font-weight: bold;
  font-size: 14px;
  color: #545E6B;
}

.group {
  margin-bottom: 20px;
}

.group input[type=text],
.group input[type=email] {
  margin-bottom: 0;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #545E6B;
  letter-spacing: 2px;
}

::-moz-placeholder {
  /* Firefox 19+ */
  color: #545E6B;
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  /* IE 10+ */
  color: #545E6B;
  letter-spacing: 2px;
}

:-moz-placeholder {
  /* Firefox 18- */
  color: #545E6B;
  letter-spacing: 2px;
}

