@font-face {
    src: url('../fonts/Avenir-Roman.ttf') format('ttf');
    font-family: 'Avenir';
    font-weight: normal;
}
@font-face {
    src: url('../fonts/Avenir-Black.ttf') format('ttf');
    font-family: 'Avenir';
    font-weight: bold;
}
