.newsletter {
    background-color: $color-background__accent;
    padding: 25px 0;

    p {
        margin-bottom: 30px;
    }

    @include breakpoint('desktop') {
        padding: 40px 0;

        p {
            text-align: center;
        }

        form {
            display: flex;
            justify-content: center;

            .group {
                max-width: 285px;
                margin-right: 15px;
                margin-bottom: 0;
            }
        }
    }

}
