.problem {
    padding: 50px 0;

    @include breakpoint('desktop') {
        padding: 70px 0;
        
        .subheader {
            max-width: 550px;
            margin-left: auto;
            margin-right: auto;
        }

        ul {
            max-width: 500px;
            margin: 0 auto;
        }
    }
}
