.support {
    padding-top: 80px;

    .queries, .issues, .features {
        margin-bottom: 50px;
    }

    @include breakpoint('tablet') {
        padding-top: 120px;

        p {
            text-align: center;
        }
    }

    @include breakpoint('desktop') {
        padding-top: 150px;
        
        .primary {
            margin-bottom: 70px;
        }

        .secondary {
            display: flex;
            justify-content: space-between;
        }

        .issues, .features {
            max-width: calc(50% - 15px);

            h2 {
                text-align: left;
            }
        }

    }
}
